header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  @media screen and (max-width: 412px) {
    font-size: 3.5rem;
  }
}

header .container {
  display: flex;
  justify-content: right;
  align-items: center;
}

#user-logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.header-user p {
  font-weight: bold;
}

.theme-button {
  margin-right: 1.5rem;
}