@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --background: white;
  --text-primary: #333;
  --text-secondary: #f1356d;
  --accent: purple;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --button-background-colour: rgb(238, 238, 238);
  --button-hover-colour: rgb(249, 250, 251);
  --body-background-colour: #edf0e9;
}
[data-theme="dark"] {
  --background: #121212;
  --text-primary: white;
  --text-secondary: #f1356d;
  --accent: darkred;
  --box-shadow: rgb(180, 180, 180);
  --button-background-colour: rgb(66, 66, 66);
  --button-hover-colour: rgb(95, 95, 95);
  --body-background-colour: #1f1b24;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--text-primary);
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

#root {
  min-height: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.loading-message {
  text-align: center;
  font-size: 1.5rem;
}

/* content styles */
.content {
  padding: 20px;
}

/* article list item styles */

.article-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
}
.article-preview:hover {
  box-shadow: var(--box-shadow) 0px 1px 4px;
  background-color: var(--body-background-colour);
}
.article-preview h2 {
  font-size: 17px;
  color: var(--text-secondary);
  margin-bottom: 8px;
}

/* Single article styles */

.single-article h2 {
  margin-bottom: 20px;
  color: #f1356d;
}

.article-body {
  box-shadow: var(--box-shadow) 0px 1px 4px;
  padding: 0.9rem;
  background-color: var(--body-background-colour);
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

.single-article p {
  margin-bottom: 40px;
}

/* comments styles */
.comments {
  overflow-y: auto;
  min-height: 100%;
  max-height: 400px;
  overscroll-behavior: contain;
  box-shadow: var(--box-shadow) 0px 1px 4px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--body-background-colour);
  width: 100%;
}

.comments-header {
  margin-bottom: 20px;
}
.comment-body {
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-left: 10px;
}

.comment-author {
  margin-bottom: 3px;
  margin-left: 5px;
}

/* vote styles */
.vote {
  display: block;
  float: right;
  text-align: center;
  margin-left: 1.7rem;
  margin-bottom: 2rem;
}

.error-message {
  color: red;
}
/* button styles */

.theme-button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  border-radius: 10px;
  float: right;
  transition: all 0.5s;
}

.vote {
  font-size: 0.8rem;
}

.vote .vote-button {
  background-color: var(--button-background-colour);
  border: 0;
  border-radius: 0.9rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.7rem;
  font-weight: 650;
  padding: 0.4rem 0.5rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: fit-content;
  width: 70px;
}

.vote-button:hover {
  background-color: var(--button-hover-colour);
}

.vote-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.vote-button:focus-visible {
  box-shadow: none;
  background-color: #f1356d;
}

.vote-button:disabled {
  background-color: #f0b2b2;
}

.vote-button:active {
  background: #f1356d;
}
