@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
}

.loading-message {
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

/* content styles */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* article list item styles */

.article-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.article-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.article-preview h2 {
  font-size: 17px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* Navbar styles */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  text-align: center;
  text-transform: capitalize;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* Single article styles */

.single-article h2 {
  margin-bottom: 20px;
  color: #f1356d;
}

.single-article p {
  margin-bottom: 40px;
}

/* comments styles */
.comments h3 {
  margin-bottom: 15px;
}
.comment-body {
  font-size: 0.8rem;
}

/* vote styles */
.vote {
  display: block;
  float: right;
  text-align: center;
  margin-left: 1.7rem;
  margin-bottom: 2rem;
}

.error-message {
  color: red;
}
/* button styles */

.vote .vote-button {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.vote-button:hover {
  background-color: rgb(249, 250, 251);
}

.vote-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.vote-button:focus-visible {
  box-shadow: none;
}
