@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --text-primary: #333;
  --text-secondary: #f1356d;
  --accent: purple;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --button-text-colour: #861235;
  --button-background-colour: rgb(238, 238, 238);
  --button-hover-colour: rgb(249, 250, 251);
  --body-background-colour: #d8dfce;
}
[data-theme="dark"] {
  --background: #121212;
  --text-primary: white;
  --text-secondary: #f1356d;
  --accent: darkred;
  --box-shadow: rgb(180, 180, 180);
  --button-text-colour: #eeecec;
  --button-background-colour: rgb(66, 66, 66);
  --button-hover-colour: rgb(95, 95, 95);
  --body-background-colour: #1f1b24;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--text-primary);
  text-decoration: none;
}

html,
body {
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar{
    display: none;
  }
}

#root {
  min-height: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.loading-message {
  text-align: center;
  font-size: 1.5rem;
}

/* content styles */
.content {
  padding: 20px;
}

/* button styles */

.theme-button,
.order,
select,
.delete-comment {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  border-radius: 10px;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.vote {
  font-size: 0.8rem;
}

.vote .vote-button,
.vote-button-active,
.post-comment {
  background-color: var(--button-background-colour);
  border: 0;
  border-radius: 0.9rem;
  box-sizing: border-box;
  color: var(--button-text-colour);
  font-size: 0.7rem;
  font-weight: 650;
  padding: 0.4rem 0.5rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: fit-content;
  width: 70px;
}

.vote-button:hover,
.post-comment:hover {
  background-color: var(--button-hover-colour);
}

.post-comment:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.vote-button:focus-visible,
.post-comment:focus-visible {
  box-shadow: none;
  background-color: #f1356d;
}

.vote-button-active,
.vote-button-active:hover {
  background: #f1356d;
}

.post-comment {
  width: 90px;
}

.sorting-tools {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
